body {
  font-family: sans-serif;
  background-image: url("./images/flooding.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.homeLink{
  border-bottom-left-radius: 10px;
}

.nav{
  border-bottom-left-radius: 10px;
  background: r#C0BFBF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #C0BFBF , #E2E1E1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #C0BFBF, #E2E1E1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #C0BFBF, #E2E1E1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #C0BFBF , #E2E1E1); /* Standard syntax */
  border-bottom: black .5px solid;
  border-left: black .5px solid;
  margin-right: 0px;
}

.signupLoginBtn{
  padding-left: 15px;
  border-left: #C0BFBF 3px double;
}