{/*body{
    background: URL("./images/hurricane.jpg") no-repeat center center fixed;
    background-size: cover;
}*/}

.wrapper{
    text-align: center;
}

h1{
    color: white;
}

button{
    background: red;
}